.cart-product-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .cart-product-card {
    flex-wrap: wrap;
  }
}

.cart-product-image {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
  border-radius: 6px;
  background-color: #EAEAE9;
}

@media screen and (min-width: 576px) {
  .cart-product-image {
    width: 150px;
  }
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 1.5rem;
}

.cart-product-details > h1 {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 10px;
}

.cart-product-details > p {
  font-size: 0.9rem;
  color: #374151;
  display: flex;
  align-items: center;
  margin: 0;
}

.cart-product-details > p > span {
  font-size: 1rem;
  color: black;
  font-weight: 600;
  padding: 0 15px;
  background-color: #c9d3d3;
  border-radius: 5px;
  line-height: 1.5;
}

.cart-product-details > div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-product-update-icon {
  font-size: 1.5rem;
  color: #252525;
  margin: 0 6px;
}

.cart-product-update-icon:hover {
  color: #000000;
}

.cart-product-remove-button {
  background-color: transparent;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  padding: 4px 12px;
}

.cart-product-remove-button:hover {
  background-color: black;
  color: whitesmoke;
  border: 1px solid transparent;
}

.cart-product-bookmark-button {
  background-color: transparent;
  color: black;
  font-size: 2rem;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 0 10px;
  padding: 0;
}

.cart-product-price-container {
  text-align: right;
  align-self: center;
}

.cart-product-price-container > p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  margin: 0;
}

.cart-product-price-container > del {
  font-size: 0.8rem;
  color: #4b5563;
}

.color-red {
  color: #ec3a3a;
}
