@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Monoton&display=swap);

@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  padding-top: 40px;
  font-family: "Josefin Sans";
  background-color: #FBFAF7;
}

@media screen and (max-width: 639px) {
  .main-container {
    padding-top: 60px;
  }
}

.responsive-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

@media screen and (min-width: 375px) {
  .responsive-container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 85%;
  }
}

.eyesome-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000c9;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
